/* Style the body of the page */
body {
    background-color: rgb(90, 172, 207);
}
/* Style the sections of the page */
.sections {
    border: 4px solid;
    border-width: medium;
    border-color: hsla(303, 91%, 50%, 0.6);
    border-radius: 15px;
    color: #000;
}

#meeting-name {
    color: red;
}