/* Body of the page */
body {
    background-color: rgb(90, 172, 207);             /* background */
}
/* Title of table of contents */
.sections {
    color: #000;                                     /* color */
    border: 4px;                        
    border-style: solid;                               /* border */
    border-width: medium;                              /* border */
    border-color: hsla(303, 91%, 50%, 0.6);          /* border, color */
    border-radius: 15px;                               /* border */
    width: 200px;                                      /* absolute unit */
    max-height: 100px;                                  /* sizing */
    height: 25px;                                      /* sizing, absolute unit */
    margin: 0px 0px 0px 0px;                                  /* margin short */ 
    position: relative;                                 /* position*/
    text-align: center;
    font-family: "Courier New", "Courier New", monospace;   /* font */                           
}

/* Content of table of contents */
li[class="section-link"] {
    width: fit-content;                                 /* sizing */
    background-color: yellow;
    margin-bottom: 5px;                                /* margin, absolute unit */ 
    margin-top: 5px;                                     /* margin long */ 
    margin-left: 10px;                                   /* margin long */ 
    margin-right: 10px;                                  /* margin long */ 
}

/* Title of the meeting */
#meeting-title {
    color: red;                                      /* color */
    border: 4px dotted;
    border-width: medium;
    border-color: rgb(255, 255, 255);                /* color */
    border-radius: 15px;
    width: 50%;                                        /* relative unit */
    max-width: 1000px;                                  /* sizing */
    text-align: center;                                /* relative unit */
    margin: auto;                                      /* margin auto, relative unit */
    padding-top: 10px;                                  /* padding long */
    padding-bottom: 10px;                               /* padding long */
    padding-left: 0px;                                  /* padding long */
    padding-right: 0px;                                 /* padding long */
    font-family: "Courier New", "Courier New", monospace; /* font */

}

/* Subtitle of meeting */
#meeting-subtitle {
    text-align: center;                                 /* text */
    padding: 0px 0px 10px 0px;                         /* padding short */
    font-family: "Courier New", "Courier New", monospace;   /* font */
}

/* section titles */
h1, h2 {
    text-decoration: underline;                         /* text */
    color:black;                                      /* text */
}

/* All paragraphs */
p {
    display: inline-block;                                     /* display */
}


/* only voting questions */
.vote-questions > p {
    font-weight: bold;
    min-width: 50%;                                   /* sizing */
}

/* hidden line */
.hidden {
    display: none;                                      /* display */
}

/* agenda and attendance */
.first-row {
    display: flex;                                      /* flexbox */
    flex-direction: row;                                /* flexbox */
    justify-content: space-evenly;                      /* flexbox */
    align-items: stretch;                               /* flexbox */
}
/* grid containg updates, votes, and recording */
.grid-container {
    display: grid;                                      /* grid */
    grid-template-columns: auto auto auto;              /* grid */
    grid-template-areas:                                /* grid */
    "updates voting recording";
    gap: 20px;                                          /* grid */
}
/* update col */
.grid-col-1 {
    grid-area: updates;
}
/* voting col */
.grid-col-2 {
    grid-area: voting;
}
/* recording col */
.grid-col-3 {
    grid-area: recording;
}

/* image */
.img {
    position: static;                                   /* position */
}

/* button for submit */
button:hover {
    cursor: pointer;
}

a:active {
    color: red;
}